<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <div class="time">
    <%= f.label :start_time, "投稿日時" %>
    <%= f.datetime_select :start_time %>
  </div>
      <%= f.text_area :title, placeholder: "タイトル", rows: "1" , id: "title" %>
      <button type="button" id="emoji-title">😀</button>
      <emoji-picker hidden id="emoji-picker-title"></emoji-picker>
      <br>
      <br>
      <%= f.text_area :text, placeholder: "内容", rows: "10", id: "text" %>
      <button type="button" id="emoji-text">😀</button>
      <emoji-picker hidden id="emoji-picker-text"></emoji-picker>
      <div class="click-upload" id="click-upload">
        <p>
          画像をアップロード
        </p>
        <%= f.file_field :images, multiple: true, id:"post-images" %>
        <div id="image-list"></div>
      </div>
      <%= f.submit "SEND" %>
    <% end %>

