<div class="content_post" style="background-image: url(<%= post.title %>);">
      <div class="more_lsit_mark">🖌️</div>
      <div class="more">
        <ul class="more_list" placeholder= "設定" >
          <% if user_signed_in? && current_user.id == post.user_id %>
            <li>
              <%= link_to '編集', edit_post_path(post.id), method: :get %>
            </li>
            <li>
              <%= link_to '削除', post_path(post.id), method: :delete %>
            </li>
          <% end %>
        </ul>
        
      </div>
      <div class="date"><%= post.start_time.strftime("%Y-%m-%d %H:%M:%S") %></div>
      <div class="title"><%= post.title %></div>
      <% post.images.each do |image| %>
      <%= image_tag image.variant(resize: '100x100'), class: 'post-images' if post.images.attached? %>
      <% end %>
      <p><%= post.text %></p>
      
      
</div>