<div class="content_post" style="background-image: url(<%= post.title %>);">
      <div class="more">
        <ul class="more_list">

          <% if user_signed_in? && current_user.id == post.user_id %>
            <li>
              <%= link_to '編集', edit_post_path(post.id), method: :get %>
            </li>
            <li>
              <%= link_to '削除', post_path(post.id), method: :delete %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="date"><%=l post.created_at %></div>
      <div class="title"><%= post.title %></div>
      <% post.images.each do |image| %>
      <%= image_tag image.variant(resize: '100x100'), class: 'post-images' if post.images.attached? %>
      <% end %>
      <p><%= post.text %></p>
        </a>
      </span>
</div>